<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> 
                Sobre            
            </h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cum ullam repellat, dolorum magnam voluptatum est necessitatibus accusantium? Quas nihil iure ea quidem, facere sit fugit sed veritatis explicabo illum!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00)3333665656</li>
                <li><i class="fa-brands fa-whatsapp"></i>67 5 66666666</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>